[submodule "diego-release"]
	path = images/releases/diego-release
	url = https://github.com/cloudfoundry-incubator/diego-release
[submodule "cf-routing-release"]
	path = images/releases/cf-routing-release
	url = https://github.com/cloudfoundry-incubator/cf-routing-release
[submodule "garden-linux-release"]
	path = images/releases/garden-linux-release
	url = https://github.com/cloudfoundry-incubator/garden-linux-release
[submodule "cf-release"]
	path = images/releases/cf-release
	url = https://github.com/cloudfoundry/cf-release
[submodule "etcd-release"]
	path = images/releases/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release
[submodule "images/bosh/src/github.com/sclevine/packer-bosh"]
	path = images/bosh/src/github.com/sclevine/packer-bosh
	url = git@github.com:sclevine/packer-bosh
[submodule "images/bosh/src/github.com/sclevine/bosh-provisioner"]
	path = images/bosh/src/github.com/sclevine/bosh-provisioner
	url = git@github.com:sclevine/bosh-provisioner
