[submodule "images/releases/cf-release"]
	path = images/releases/cf-release
	url = https://github.com/cloudfoundry/cf-release
[submodule "images/releases/diego-release"]
	path = images/releases/diego-release
	url = https://github.com/cloudfoundry-incubator/diego-release
[submodule "images/releases/etcd-release"]
	path = images/releases/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release
[submodule "images/releases/garden-linux-release"]
	path = images/releases/garden-linux-release
	url = https://github.com/cloudfoundry-incubator/garden-linux-release
[submodule "images/releases/cf-routing-release"]
	path = images/releases/cf-routing-release
	url = https://github.com/cloudfoundry-incubator/cf-routing-release
[submodule "images/bosh/src/github.com/sclevine/packer-bosh"]
	path = images/bosh/src/github.com/sclevine/packer-bosh
	url = git@github.com:sclevine/packer-bosh
[submodule "images/bosh/src/github.com/sclevine/bosh-provisioner"]
	path = images/bosh/src/github.com/sclevine/bosh-provisioner
	url = git@github.com:sclevine/bosh-provisioner
[submodule "images/releases/cf-redis-release"]
	path = images/releases/cf-redis-release
	url = https://github.com/pivotal-cf/cf-redis-release
[submodule "images/buildpacks/java-buildpack"]
	path = images/buildpacks/java-buildpack
	url = git@github.com:cloudfoundry/java-buildpack.git
[submodule "images/buildpacks/ruby-buildpack"]
	path = images/buildpacks/ruby-buildpack
	url = git@github.com:cloudfoundry/ruby-buildpack.git
[submodule "images/buildpacks/python-buildpack"]
	path = images/buildpacks/python-buildpack
	url = git@github.com:cloudfoundry/python-buildpack.git
[submodule "images/buildpacks/binary-buildpack"]
	path = images/buildpacks/binary-buildpack
	url = git@github.com:cloudfoundry/binary-buildpack.git
[submodule "images/buildpacks/php-buildpack"]
	path = images/buildpacks/php-buildpack
	url = git@github.com:cloudfoundry/php-buildpack.git
[submodule "images/buildpacks/staticfile-buildpack"]
	path = images/buildpacks/staticfile-buildpack
	url = git@github.com:cloudfoundry/staticfile-buildpack.git
[submodule "images/buildpacks/nodejs-buildpack"]
	path = images/buildpacks/nodejs-buildpack
	url = git@github.com:cloudfoundry/nodejs-buildpack.git
[submodule "images/buildpacks/go-buildpack"]
	path = images/buildpacks/go-buildpack
	url = git@github.com:cloudfoundry/go-buildpack.git
